<section class="head">
  <nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
      <div class="row w-100">
        <div class="col-md-3">
          <div class="d-flex justify-content-center">
           <img class="pt-2" src="../assets/unnamed (1).png" width="25%" [routerLink]="'/'">
          </div>
        </div>

        <div class="col-md-5">
          <ul class="navbar-nav mr-auto justify-content-center pt-2 align-items-center">
            <li class="nav-item">
                   <a class="nav-link" [routerLink]="'/dateformation'">Formation</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="'/mediatheque'">Médiathèque</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color: #4bb6cf;"  [routerLink]="'/pack'">Nos packs</a>
            </li>
            <li class="nav-item">
             <a class="nav-link" [routerLink]="'/contact'">Contact</a>
            </li>
          </ul>
        </div>

        <div class="col-md-4 text-center pt-3 d-flex align-items-center">
         <button type="button" class="btn  btn-connect btn-sm mt-0 mr-4" [routerLink]="'/login'" >Connectez-vous</button>
          <button type="button" class="btn  btn-creer btn-sm mt-0" [routerLink]="'/register'" >Créer un compte</button>
         <!-- <select class="selectpicker" data-width="fit">
            <a href="#cz">
              <option data-content='<span class="flag-icon flag-icon-cz"></span> English'>Čeština</option>
            </a>
              <a href="#de">

            <option  data-content='<span class="flag-icon flag-icon-de"></span> Español'>Deutsch</option>
            </a>
              <a href="#en">

            <option  data-content='<span class="flag-icon flag-icon-gb"></span> Español'>English</option>
            </a>
          </select> -->


          <!-- <ul class="navbar-nav ml-auto">

            <li class="nav-item dropdown">
              <a class="nav-link" data-toggle="dropdown" href="#">
                <i class="far fa-bell"></i>
                <span class="badge badge-warning navbar-badge">15</span>
              </a>
              <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                <span class="dropdown-item dropdown-header">15 Notifications</span>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item">
                  <i class="fas fa-envelope mr-2"></i> 4 new messages
                  <span class="float-right text-muted text-sm">3 mins</span>
                </a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item">
                  <i class="fas fa-users mr-2"></i> 8 friend requests
                  <span class="float-right text-muted text-sm">12 hours</span>
                </a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item">
                  <a class="dropdown-item" href="#"><i class=" flag- flag-portugal "></i>Português</a>

                </a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
              </div>
            </li>

          </ul> -->
        </div>
      </div>
    </div>
  </nav>

</section>
<section class="mt-4">
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-3">
        <img class="profile-header-img" src="assets/persona/Photographe_professionnel_equipe_trombinoscope_entreprise_a_Paris.jpg" alt="Mohamed Hassini">
        <div class="row ml-0 mt-2">
          <p style=" font-size: 13px;  margin-right: 0.5rem;color: gray;">Travail</p>
          <span style="margin-top: -9px; color: gray; ">____________________</span>
        </div>
        <div class="row mr-0 ">

            <p style="font-size: 14ox;" ><strong>All Soft Multimedia</strong></p>
            <p style=" font-size: 13px;   padding-right: 3rem;  color: gray; ">Adresse: 7, rue du Lac Come, Imm. Nessima, 1er étage, App. 1-2 Les Berges du Lac, 1053, Tunis</p>

        </div>
        <div class="row mr-0">
          <p style=" font-size: 13px;  margin-right: 0.5rem;color: gray;">Compétences</p>
          <span style="margin-top: -9px; color: gray; ">____________________</span>

          <ul class="skills">
              <li>Collaboration</li>
              <li>Gestion du temps</li>
              <li>Motiver les autres</li>
              <li>Créativité</li>
          </ul>
        </div>
      </div>

      <div class="col-md-8">
        <div class="row">
          <p style="font-size: 2rem; font-weight: 500; margin-right: 3rem; margin-bottom: 0; ">Mohamed Hassini</p>
          <span style="font-size: 12px; color: gray;"><i class="fas fa-map-marker-alt"></i> Ariana, Tunis</span>

        </div>
        <div class="row">
          <p style="color:#4bb6cf">Directeur d'une société commerciale</p>
        </div>
        <div class="row">
            <p style="
            font-size: 12px;
            margin-bottom: 0; ">
              Niveau de satisfaction:
            </p>

        </div>
        <div class="row">
          <div class="rating">
            8,6
           <span class="fas fa-star"></span>
           <span class="fas fa-star"></span>
           <span class="fas fa-star"></span>
           <span class="fas fa-star"></span>
           <span class="fas fa-star-half-alt"></span>
       </div>
        </div>
        <div class="row ml-0 mt-5">
          <i class="fas fa-user" style="color: gray;" ></i>    <p style=" margin-left:1rem;  font-size: 13px;  margin-right: 4.5rem;color: gray;">A propos</p>
          <span style="margin-top: -9px; color: gray; ">__________________________________________________</span>
        </div>
        <div class="row">
          <p style="
          font-size: 15px;
          color: gray;
      ">Les coordonnées</p>
        </div>
        <div class="row">
          <p style="font-size: 14px;"><strong>Numéro téléphone:</strong> <span style="margin-left: 3rem; color: #4bb6cf;">+216 52568102</span></p>
        </div>
        <div class="row">
          <p style="font-size: 14px;"><strong>Adresse:</strong> <span style="margin-left: 7.2rem; color: #4bb6cf;">Tunisie, Ariana</span> </p>
        </div>
        <div class="row">
          <p style="font-size: 14px;"><strong>E-mail:</strong><span style="margin-left: 7.7rem; color: #4bb6cf;">MohamedHassini@gmail.com</span> </p>
        </div>
        <div class="row">
          <p style="font-size: 14px;"><strong>Site:</strong><span style="margin-left: 8.7rem; color: #4bb6cf;">www.HassiniEntreprise.com</span> </p>
        </div>
        <div class="row">
          <p style="font-size: 14px;"><strong>Mot de passe:</strong><span style="margin-left: 5rem; color: #4bb6cf;"> ************</span> </p>
        </div>


      </div>
    </div>






</div>
</section>

<footer class="text-center text-lg-start bg-body-tertiary text-white" style="
background-color: #001b36;
">
  <!-- Section: Social media -->

  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3 pt-5">
        <div class="col-md-3">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4 text-left">
            <img _ngcontent-ng-c2873429629="" src="../../../assets/unnamed.png" alt=""
            width="40%" >
          </h6>

        </div>
      </div>
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2  mb-2 mr-4">
          <!-- Content -->
          <h6 class="text-uppercase text-left  fw-bold mb-4" style="font-weight: 800;">
            A propos
          </h6>
          <p class="text-left pr-0" >
            DUX est un progiciel de gestion intégré (ERP) qui convient à tous les secteurs d’activité
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-3 col-xl-3 mx-4 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase text-left  fw-bold " style="font-weight: 800;">
            Adress
          </h6>
          <p class="text-left pr-5" >
            Sfax (Siège): Avenue de la Liberté, Imm. El Itkane, 3ème étage, B11 3027, Sfax
          </p>
          <p class="text-left pr-5" >
            Tunis: 7, rue du Lac Côme, Imm. Nessima, 1er étage, App 1, 2 et 3 Et Les Berges du Lac, 1053
          </p>
          <p class="text-left pr-5">
            Sousse: Av Yasser Arafat, Résidence Chaima, 4ème étage App. 401 Sahloul, Sousse
          </p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2  mb-2">
          <!-- Content -->
          <h6 class="text-uppercase text-left  fw-bold " style="font-weight: 800;">
            A propos
          </h6>
          <p class="text-left pr-0 mb-0" >
            Fonctionnalités
           </p>
           <p class="text-left pr-0 mb-0" >
            Mediathéque
           </p>
           <p class="text-left pr-0 mb-0" >
            Nos packs
           </p>
           <p class="text-left pr-0" >
            Contact
           </p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold  text-left"  style="font-weight: 800;">S'inscrire aiw Newslettre </h6>
         <div class="d-flex">
          <input type="text"  name="input" class="form-control text-form text" placeholder="Entrer votre Email">
          <button type="submit" class="btn btn-info  register">S'inscrire</button>

         </div>
         <h6 class="text-uppercase fw-bold  text-left mt-5"  style="font-weight: 800;">S'inscrire aiw Newslettre </h6>
         <div class="d-flex ">
          <!-- Left -->


            <a href="" class="me-4 text-reset mr-4">
              <i class="fab fa-facebook-f"></i>
            </a>


            <a href="" class="me-4 text-reset mr-4">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-linkedin"></i>
            </a>

          <!-- Right -->
        </div>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->

  <!-- Copyright -->
</footer>
