<div class="hold-transition login-page">
  <div class="" style="width: 800px;">
    <!-- /.login-logo -->
    <div class="card card-outline  " style="
    height: 437px;">
   <div class="row">
    <div  class=" col-md-5 imageback" style="
    height: 437px;">

    </div>
    <div class="col-md-7">
      <div class="text-center">
        <img class="pt-4 pb-3" src="../assets/unnamed (1).png" width="15%">
      </div>
      <div class="card-body card-body pl-5 pr-5 pb-5 pt-0">

        <p class="pt-4 pb-0 text-center titre mb-0">Entrer Nouveau password</p>


        <form [formGroup]="resetForm"  (ngSubmit)="onSubmit()">

          <div class="row">
            <div class="coolinput col-md-12 p-0">
              <label for="input" class="text">New password</label>
              <input [type]="fieldTextType ? 'text' : 'password'" class="form-control pe-5 form-text" placeholder="Enter password" id="password-input" formControlName="password"
              [ngClass]="{ 'is-invalid': submitted && f['password'].errors }">
              <button class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted" type="button" id="password-addon"><i class="mdi align-middle" [ngClass]="{'mdi-eye-off-outline': !fieldTextType, 'mdi-eye-outline': fieldTextType
              }" (click)="toggleFieldTextType()"></i></button>
               <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                <span *ngIf="f['password'].errors['required']">Password is required</span>
              </div>
          </div>
          </div>

          <div class="row">
            <div class="coolinput col-md-12 p-0">
              <label for="input" class="text">Confirm password</label>
              <input type="text"  name="input" class="form-control form-text" formControlName="Confpassword">
          </div>
          </div>

          <div class="row">
            <div class="col-md-12 p-0 pt-4">
              <button type="submit" class="btn btn-primary btn-block register">Reset Password</button>
              <span style="
              font-size: 13px;
              color: #b7b4b4;
          ">
                Vous n'avez  pas un compte ?
            </span>
            <a  style="
            font-size: 13px;
            color: #001b36;
            font-weight: 600;
        ">S'authentifier </a>
            </div>
          </div>

        </form>



      </div>
    </div>

   </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
  <!-- /.login-box -->

  <!-- jQuery -->

  </div>
