<div class="hold-transition login-page">
  <div class="" style="width: 800px;">
    <!-- /.login-logo -->
    <div class="card card-outline  " style="
    height: 437px;">
   <div class="row">
    <div  class=" col-md-5 imageback" style="
    height: 437px;">

    </div>
    <div class="col-md-7">
      <div class="text-center">
        <img class="pt-4 pb-3" src="../assets/unnamed (1).png" width="15%">
      </div>
      <div class="card-body card-body pl-5 pr-5 pb-5 pt-0">+

        <p class="pt-4 pb-0 text-center titre mb-0">Entrer Votre Email</p>


        <form  [formGroup]="resetForm" (ngSubmit)="onSubmit()">

          <div class="row">
            <div class="coolinput col-md-12 p-0">
              <label for="input" class="text">Email</label>
              <input type="text" name="email" class="form-control  form-text" placeholder="email" id="email" formControlName="email"
              [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" >
              <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                <div *ngIf="f['email'].errors['required']">email is required</div>
            </div>
          </div>
          </div>

          <div class="row">
            <div class="col-md-12 p-0 pt-4">
              <button type="submit" class="btn btn-primary btn-block register">Reset Password</button>
              <span style="
              font-size: 13px;
              color: #b7b4b4;
          ">
                Vous n'avez  pas un compte ?
            </span>
            <a  style="
            font-size: 13px;
            color: #001b36;
            font-weight: 600;
        ">S'authentifier </a>
            </div>
          </div>

        </form>



      </div>
    </div>

   </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
  <!-- /.login-box -->

  <!-- jQuery -->

  </div>
