.imageback{
  background-size: cover;
  background-image:linear-gradient(to bottom, rgb(161 151 201 / 33%), rgb(25 25 149 / 50%)),
  url("../../../assets/homme-travaille-devant-ordinateur-nuit-vue-haut.jpg");
}
.coolinput {
  display: flex;
  flex-direction: column;
  /* width: fit-content; */
  position: static;
  max-width: 100%;
}

.coolinput label.text {
  font-size: 15px;
    color: #001b36;
    position: relative;
    top: 15px;
    left: 11px;
    margin: 0 0 0 7px;
    padding: 0 3px;
    background: #ffffff;
    width: -moz-fit-content;
    width: fit-content;
    font-weight: 500;
}



.coolinput input[type=text].input:focus {
  outline: none;
}
.form-text{
  color: #001b36;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #001b36;
  border-radius: 7px;
}
.register{
  border-radius: 7px;
    background-color: #001b36;
    border-color: #001b36;
}
.titre {
  color: #001b36;
  font-size: 19px;
  font-weight: 600;
}
.soustitre {
  font-size: 13px;
  color: #b7b4b4;
  padding-top: 0;
  display: block;
  text-align: center;
}
